<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/jpg" href="/css/img/RS.jpg">
  <title>Contato</title>
  <link rel="stylesheet" href="/css/estilo.css">
  
  <center>
    
    <a href="/home">Página Inicial</a>
    <a href="/cliente/cadastro">Cadastro</a>
    <a href="/cliente/lista">Lista de Cadastro</a>
    <a href="/quem-somos">Quem Somos</a>
    <a href="/contato">Contato</a>
  </center>
</head>
<body>
  <div class="container">

    <center><h1>Acesse nossos Serviços Sociais</h1></center>
    <center><h3><p>Qua a sua necessidade hoje?</p></h3></center>

    <form>
    <label>Escolha uma Opção:</label><br>
    <div class="option">
     <input type="checkbox" id="saude" name="categoria" value="Saúde">
    <label for="saude">Saúde</label>
    </div>

    <div class="option">
    <input type="checkbox" id="Advogado" name="categoria" value="Advogado">
    <label for="Advogado">Advogado</label>
  </div>

    <div class="option">
    <input type="checkbox" id="outros" name="categoria" value="Outros">
            <label for="outros">Outros</label>
          </div>
    <p></p>
    
    <label for="name">Consulta</label>
    <input type="radio"><input placeholder="Informe a especialidade Médica?">
    <label for="name">Cirurgia</label>
    <input type="radio"><input placeholder="Qual tipo de cirugia?">
   
    <label for="name">Exame</label>
    <input type="radio"><input placeholder="Exame Solicitado é?">
    

      <button type="submit">Envie sua Solicitação sobre a Saúde</button>
      <p></p>
    
    <label for="advogado">Escolha seu Advogado</label><p></p>
    
    <label for="civil">Civil
    <input type="radio" id="civil" name="advogado" value="civil">

    <label for="trabalhista">Trabalhista
    <input type="radio" id="trabalhista" name="advogado" value="trabalhista"></label>

    <label for="criminal">Criminal    <input type="radio" id="criminal" name="advogado" value="criminal"></label>
    <p></p>

    <button type="submit">Sua Escolha foi enviada</button>
    
<div>
  <label>Outros Assuntos:</label>
  <p>
    Clink em um dos botões para para solicitar um serviço relacionado ou fazer uma denunia.
  </p>

  <div class="botao-container">
    <button>Comentários</button>
    <button>Denúncia</button>
    <button>Fiscalização</button>
    <button>Iluminação</button>
    <button>Limpeza</button>
    <button>Segurança</button>
    <button>Vias e Sinalização</button>
    <button>Respostas</button>
</div>
  
</div>

  </div>
    <center><p><h3>Participe das nossas rede sociais</h3></center></p>

  <footer class="bg-dark text-light py-3">
    <center>
      <div class="social-links">
        <a href="https://whatsapp.com" target="_blank">
          <img src="/css/img/whatsapp.png" alt="Whatsapp" width="40">
        </a>
        <a href="https://instagram.com" target="_blank">
          <img src="/css/img/instagram.png" alt="Instagram" width="40">
        </a>
        <a href="https://twitter.com" target="_blank">
          <img src="/css/img/twitter.png" alt="Twitter" width="40">
        </a>
        <a href="https://linkedin.com" target="_blank">
          <img src="./css/img/linkedin.png" alt="LinkedIn" width="40">
        <a href="https://youtube.com
        " target="_blank">
          <img src="/css/img/youtube.png" alt="Youtube" width="40">
        </a>
        <div class="container text-center">
        <p>Olinda-PE, Brasil,
        csrs@yahoo.com.br
        &copy; 2025 CSRS. Todos os direitos reservados.</p>
      </div>
    </div>
  </center>
  </footer>
  
</body>
</html>