<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/jpg" href="/css/img/RS.jpg">
        <title>Página Inicial</title>
        <link rel="stylesheet" href="/css/estilo.css">

    <center>

        <a href="/home">Página Inicial</a>
        <a href="/cliente/cadastro">Cadastro</a>
        <a href="/cliente/lista">Lista de Cadastro</a>
        <a href="/quem-somos">Quem Somos</a>
        <a href="/contato">Contato</a>
    </center>
</head>
<body>

    <h1><center>Seja bem vindo ao CSRS</center></h1>
    <hr>
    <h2><p>
            O Centro Social Ricardo Souza, nos seus 20 anos de existência, busca sempre inovações para atender às demandas e necessidades do seu público, e aposta no Software, sistema de Informática e Gestão, para organização e otimização em suas diversas tarefas de apoio à sociedade de Olinda em Pernambuco.</p>
    </h2>
    </hr>

    <h3><p> Servindo ao povo nas mais diversas áreas, como:</p></h3>
    <b>Na Saúde,</b> buscando incessantemente recursos e emendas junto ao município, ao governo estadual e federal para implementação de novas clínicas da rede básica de atendimento, descentralizando e contemplando bairros periféricos e mais carentes, unidades de pronto atendimento (UPAS) e novas especialidades médicas nas quais o município ainda não contempla.
    <br><br>
    <table>
        <tr>
            <th>Saúde.</th>
            <td><li>Clínica Geral, Cardiologista, Dentista, Endocrinologista, Oftalmologista, Ginecologista, Obstetra, Oncologista, Ortopedista, Pediatria, Neuro Pediatra, Reumatologista e outras especialidades médicas concentradas em determinadas unidades, causando grande fila de espera.
            <br><br>
            Implementação de profissionais: Nutricionista, Terapeuta Ocupacional, Psicólogo.
            <br><br>
        </li></td>
</tr>
<tr>
    <th>Lazer.</th>
    <td><li>Construção de novas áreas de lazer e polos poliesportivos ao ar livre, incentivando novos esportes e campeonatos junto à comunidade local.</li>
<li>Tênis de Mesa,</li>
<li>Tabuleiro de Xadrez,</li>
<li>Jogo de Dominó,</li>
<li>Jogo de Queimado,</li>
<li>Voleibol,</li>
<li>Frescobol</li>
<li>Área para jogar bola de gude, rodar peão, beyblade, jogos de cartas, jogos de tabuleiro (Dama, Resta-Um, Ludo, Banco-Imobiliário).</li> 
<br><br>     
</td>
</tr>
<tr>
    <th>Exposições, feiras típicas e artezanatos.</th>
    <td><li>Construção de áreas de gastronomia local, com comidas típicas.</li>
<li>Espaço para música ambiente e também ao vivo com apresentações de pessoas da comunidade, criando um movimento de banco de talentos local.</li>
<br><br>
</td>
</tr>

<tr>
    <th>Cuidando do Meio Ambiente.</th>
    <td><li>Manutenção e limpeza das praças, podando árvores e replantando de outras espécies.</li>
<li>Programa de conscentização e uso dos espaços públicos e equipamentos que é um bem de todos.</li>
<li>Iluminação e Segurança Pública dos ambientes usados pela população.</li>
</td>
</tr>
</table>
</p>

<footer class="bg-dark text-light py-3">
    <center>
        <div class="social-links">
            <a href="https://whatsapp.com" target="_blank">
                <img src="/css/img/whatsapp.png" alt="Whatsapp" width="40">
            </a>
            <a href="https://instagram.com" target="_blank">
                <img src="/css/img/instagram.png" alt="Instagram" width="40">
            </a>
            <a href="https://twitter.com" target="_blank">
                <img src="/css/img/twitter.png" alt="Twitter" width="40">
            </a>
            <a href="https://linkedin.com" target="_blank">
                <img src="/css/img/linkedin.png" alt="LinkedIn" width="40">
            </a>
            <a href="https://youtube.com
               " target="_blank">
                <img src="/css/img/youtube.png" alt="Youtube" width="40">
            </a>
            <div class="container text-center">
                <p>Olinda-PE, Brasil,
                    csrs@yahoo.com.br
                    &copy; 2025 CSRS. Todos os direitos reservados.</p>
            </div>
        </div>
    </center>
</footer>

</body>
</html>